/********************************
    variables
********************************/

:root {
    --primary: #4285f4;
}


/********************************
    resets
********************************/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/*********************************
    typography
/********************************/

:root {
    font-size: 16px;
}

.main-search-icon,
.main-search-button,
.advanced-do-title {
    font-size: .875rem;
}

.nav-link {
    color: rgba(0, 0, 0, 0.87);
    font-size: .8125rem;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo-text {
    color: var(--primary);
}

.main-search-icon {
    color: #9aa0a6;
    font-size: .875rem;
}

.main-search-input {
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
}

.main-search-clear {
    color: #70757a;
    font-size: 1.25rem;
}

.main-search-button {
    color: #3c4043;
}

.main-search-button:hover {
    color: #202124;
}

.image-search-button {
    color: var(--primary);
    font-size: 1.09375rem;
}

.advanced-title {
    color: #d93025;
    font-size: 1.25rem;
    font-weight: normal;
}

.advanced-find-title {
    color: #333;
    font-size: 1rem;
}

.advanced-do-title {
    color: #777;
    font-size: .8125rem;
    font-weight: bold;
}

.advanced-find-label {
    color: #222;
    font-size: .8125rem;
}

.advanced-input {
    font-size: .8125rem;
}

.advanced-do-text {
    color: #555;
    font-size: .6875rem;
}

.advanced-do-quote {
    color: #666;
    font-family: monospace;
}

.advanced-button {
    color: #fff;
    font-size: .6875rem;
    font-weight: bold;
}


/*********************************
    base styles
/********************************/

.nav-menu {
    list-style-type: none;
}

.main-search {
    background-color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e5;
}

.main-search:hover,
.input-focused {
    box-shadow: 0 1px .375rem rgba(32, 33, 36, 0.28);
}

.main-search-input {
    background-color: transparent;
    border: none;
    outline: none;
}

.main-search-clear {
    background: none;
    border: none;
    cursor: pointer;
}

.image-search-separator {
    background-color: #dadce0;
    cursor: pointer;
}

.image-search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.main-search-button {
    background-color: #f8f9fa;
    border-radius: .25rem;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}

.main-search-button:hover {
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.advanced-input {
    border-top-color: #c0c0c0;
    border: 1px solid #d9d9d9;
}

.advanced-input:focus {
    border-color: var(--primary);
    box-shadow: inset 0 1px .125rem rgba(0, 0, 0, 0.3);
    outline: none;
}

.advanced-button {
    background: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background: linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    cursor: pointer;
}

.advanced-button:hover {
    background: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background: linear-gradient(top, #4d90fe, #357ae8);
    border-color: #2f5bb7;
}


/*********************************
    display
/********************************/

html,
body,
.container {
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: max-content 1fr max-content 2fr;
    width: max(100%, 400px);
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    place-self: center;
    text-align: center;
    width: min(100%, 39rem);
}

.nav-menu {
    display: flex;
    gap: 1.25rem;
    justify-content: end;
    padding: 1.25rem;
}

.nav-menu-start {
    justify-content: start;
}

.main-search-logo {
    align-self: center;
    position: relative;
}

.logo-text {
    bottom: .25rem;
    position: absolute;
    right: .125rem;
}

.main-search-form {
    display: flex;
    flex-direction: column;
    gap: 1.8125rem;
    justify-content: center;
    padding: 1.625rem 0;
}

.main-search {
    align-items: center;
    display: flex;
    padding-right: .25rem;
}

.main-search-icon {
    padding: .84375rem 1rem;
}

.main-search-input {
    height: 2.75rem;
    width: 100%;
}

.main-search-clear {
    display: none;
    padding: .5rem 1rem;
}

.image-search-separator {
    display: none;
    height: 1.75rem;
    width: 1px;
}

.image-search-button {
    padding: .625rem 1rem;
}

.main-search-buttons {
    display: flex;
    gap: .75rem;
    justify-content: center;
}

.main-search-button {
    padding: .53125rem 1rem;
}

.advanced-title {
    padding: 1.5rem 2.75rem;
    border-bottom: 1px solid #ebebeb;
}

.navbar,
.advanced-title,
.advanced-container {
    width: max(100%, 20rem);
}

.advanced-container {
    display: flex;
    flex-direction: column;
    gap: .875rem;
    padding: 2.75rem;
}

.advanced-row {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.advanced-find-title,
.advanced-find-label,
.advanced-empty-find-label {
    display: inline-block;
    width: 10rem;
}

.advanced-input,
.advanced-empty-input,
.advanced-button-container {
    height: 2rem;
    width: min(100%, 36rem);
}

.advanced-input {
    padding: 0 .5rem;
}

.advanced-button-container {
    margin-top: .5rem;
    display: flex;
    justify-content: end;
}

.advanced-button {
    padding: .5rem .75rem;
}


/*********************************
    media queries
/********************************/

@media (max-width: 1270px) {

    .advanced-container {
        gap: 1.75rem;
    }

    .advanced-row {
        flex-direction: column;
        align-items: start;
        gap: .25rem;
    }

    .advanced-empty-input,
    .advanced-do-title,
    .advanced-empty-find-label {
        display: none;
    }

    .advanced-button-container {
        margin-top: 0;
    }

}